<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>辅助工具</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--       canvas container      -->
<div id="container"></div>
<div id="app" v-cloak>
    <div class="controller_span">
        <el-collapse v-model="activeNames" @change="handleChange" accordion>
            <el-collapse-item title="SCENE" name="1">
                <div class="collapse-item-style">
                    backgroud:
                    <el-color-picker v-model="sceneColor" size="small" @change="sceneColorChange">
                    </el-color-picker>
                </div>
            </el-collapse-item>
            <el-collapse-item title="CAMERA" name="2">
                <div class="collapse-item-style">

                </div>
            </el-collapse-item>
            <el-collapse-item title="效率 Efficiency" name="3">
                <div>简化流程：设计简洁直观的操作流程；</div>
                <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
            </el-collapse-item>
            <el-collapse-item title="可控 Controllability" name="4">
                <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
            </el-collapse-item>
        </el-collapse>
    </div>
</div>
<!--    three.js   -->
<script src="lib/three.js"></script>
<script src="lib/stats.min.js"></script>
<script src="lib/controls/OrbitControls.js"></script>
<!--    element-ui   -->
<script src="lib/element/vue.js"></script>
<script src="lib/element/index.js"></script>

<script src="main/panel.js"></script>
<script src="main/start.js"></script>

</body>
</html>